<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ogamalx.imgviewer">

    <application
        android:label="IMG Archive Viewer"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.ImgArchiveViewer">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- Launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Open .img from file managers -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.img" />
            </intent-filter>

        </activity>
    </application>
</manifest>
